@model List<Attraction>

<partial name="_Notification" />
<div class="d-flex justify-content-end mb-3">
    <a asp-controller="Attraction" asp-action="Create" class="btn btn-secondary w-40">Add attraction</a>
</div>

<div class="row">
    @foreach (Attraction attraction in Model)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card" style="width: 20rem; height: 350px; background-color:blanchedalmond; border-radius: 15px">
                @{
                    var imageUrl = attraction.Images?.FirstOrDefault()?.ImageUrl ?? "/images/empty.png";
                }
                <img src="@imageUrl" class="card-img-top" alt="@attraction.Name"
                     style="object-fit: cover; height: 150px">

                <div class="card-body">
                    <h5 class="card-title">@attraction.Name</h5>

                    <div class="d-flex justify-content-end mb-3 ms-3" style="width: 215px">
                        <a asp-controller="Attraction" asp-action="Details" asp-route-id="@attraction.Id"
                           class="btn btn-primary me-2 w-100" style="height: 40px;">Details</a>
                    </div>
                    <div class="d-flex justify-content-start ms-3">
                        <a asp-controller="Attraction" asp-action="Edit" asp-route-id="@attraction.Id"
                           class="btn btn-warning me-2" style="width: 100px; height: 40px;">Edit</a>
                        <a asp-controller="Attraction" asp-action="Delete" asp-route-id="@attraction.Id"
                           class="btn btn-danger" style="width: 100px; height: 40px;">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>